<div class="row">
  <div class="col-md-9 mr-auto ml-auto">
    <span class="logo-img"></span>
    <h1 class="text-center text-black-50 font-weight-bolder mt-2 mb-3">Development Data Partnership - UNDP user account creation</h1>
    <span class="hipster"></span>
    <p class="home-description text-center">
<!--      Hello, {{ profile.givenName | uppercase }}, checking if you have already registered at Development Data Partnership Portal...-->
    </p>
    <div class="padding-centered">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
