<div class="row">
  <div class="col-md-9 mr-auto ml-auto">
    <span class="logo-img"></span>
    <h1 class="text-center text-black-50 font-weight-bolder mt-2 mb-3">Development Data Partnership - UNDP user account creation</h1>
    <span class="hipster"></span>


    <p class="home-description text-center" *ngIf="loader && !userNotExist && !userNotRegistered">
      Hello, {{ profile.name | uppercase }}, checking if you have already registered at Development Data Partnership Portal...
    </p>
    <div class="padding-centered" *ngIf="loader && !userNotExist && !userNotRegistered">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading....</span>
      </div>
    </div>


    <p class="home-description text-center" *ngIf="!loader && userNotExist && !userNotRegistered">
      {{ profile.name + " " + profile.surr_name | uppercase }}, you are not registered at Development Data Partnership Portal.
    </p>
    <div class="padding-centered" *ngIf="!loader && userNotExist && !userNotRegistered">
      <button
        (click)="registerUserToWB()"
        class="btn btn-primary">
        Register
      </button>
    </div>


    <p class="home-description text-center" *ngIf="tryingToRegister">
      {{ profile.name + " " + profile.surr_name | uppercase }}, we are trying to register you, please wait...
    </p>
    <div class="padding-centered" *ngIf="tryingToRegister">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <p class="home-description text-center" *ngIf="userRegistered">
      {{ profile.name | uppercase }}, You are already registered – redirecting to <a href="https://portal.datapartnership.org">portal.datapartnership.org</a> in 5 seconds!
    </p>

    <p class="home-description text-center" *ngIf="userRegisteredSuccessfully">
      {{ profile.name | uppercase }}, You are successfuly registered at Development Data Partnership Portal!
        </p>    

    <p class="home-description text-center" *ngIf="userRegisteredSuccessfully">
      You will be redirected to the portal in 5 seconds or you can access Development Data Partnership Portal directly at https://portal.datapartnership.org using your UNDP credentials.
    </p>
    <p class="home-description text-center" *ngIf="userRegisteredSuccessfully">
      Redirecting to <a href="https://portal.datapartnership.org">portal.datapartnership.org</a> in 5 seconds!
    </p>

    <p class="home-description text-center" *ngIf="!loader && !userNotExist && userNotRegistered">
      {{ profile.name | uppercase }}, something went wrong! We were not able to create your account in Development Data Partnership Portal - send us a message at
      <a href="mailto:data@undp.org">data@undp.org</a> and we will do our best to sort it out.
    </p>
  </div>

</div>
